---
import type { CollectionEntry } from 'astro:content';
import FeaturedCard from '../shared/FeaturedCard.astro';

interface Props {
  featuredPost?: CollectionEntry<'posts'>;
}

const { featuredPost } = Astro.props as Props;
---

{
  featuredPost && (
    <section class="space-y-0">
      <FeaturedCard post={featuredPost} />
    </section>
  )
}
