COMPOSE_PROJECT_NAME=myblog-composable-stack

# Directus
DIRECTUS_PORT=8055
DIRECTUS_PUBLIC_URL=https://admin.blog.tengokukk.com/
DIRECTUS_KEY=replace-with-random-32-byte-key
DIRECTUS_SECRET=replace-with-random-32-byte-secret
DIRECTUS_ADMIN_EMAIL=admin@example.com
DIRECTUS_ADMIN_PASSWORD=replace-with-strong-password

# Meilisearch
MEILI_PORT=7700
MEILI_MASTER_KEY=replace-with-strong-master-key
MEILI_ENV=production
